.Shop-Container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 150px;
    margin-top: 50px;
    gap: 30px;
}