.product {
    width: 300px;
    height: 550px;
    border: 2px solid gray;
    border-radius: 10px;
    position: relative;
}

.product-details{
    padding: 10px;
}
.product img {
    height: 280px;
    width: 280px;
    border-radius: 10px;
}
.product button {
    position: absolute;
    background: #FFE0B3;
    border: 1px solid #95A0A7;
    border-radius: 0px 0px 8px 8px;
    bottom: 0;
    width: 300px;
}

.product button:hover {
    background-color: orange;
}