.header{ 
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 100px;
    align-items: center;
}
nav.header a {
    color: white;
    margin-left: 32px;
}

nav.header a:hover {
    color: orange;
}

